Repository geraldoyudo/mmadu, pull requests merged in 2020-10, with the labels that each got.

#149 FEATURE-148: Added Rest SMS provider
  docs/docs.iml
  mmadu-notifications/pom.xml
  mmadu-notifications/src/main/java/com/mmadu/notifications/service/models/MapBasedNotificationContext.java
  notifications/default-rest-sms-provider/.gitignore
  notifications/default-rest-sms-provider/pom.xml
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/DefaultRestSMSAutoConfiguration.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/exceptions/RestProviderException.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/models/DefaultRestSMSProperties.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/models/RestSMSConfigurationProperties.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/providers/DefaultRestSMSProvider.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/providers/DefaultWebClientResolverImpl.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/providers/SMSTemplateEngine.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/providers/VelocitySMSTemplateEngine.java
  notifications/default-rest-sms-provider/src/main/java/com/mmadu/notifications/defaultrestsms/providers/WebClientResolver.java
  notifications/default-rest-sms-provider/src/main/resources/META-INF/spring.factories
  notifications/default-rest-sms-provider/src/test/java/com/mmadu/notifications/defaultrestsms/DefaultRestSMSAutoConfigurationTest.java
  notifications/pom.xml
Labels: FEATURE

#160 FEATURE-154: Updated User Service Documentation
  docs/reference/user-management.adoc
Labels: documentation, user-service

#161 Customize Browser Title for Login Page
  mmadu-identity/src/main/java/com/mmadu/identity/config/DomainIdentityConfigurationList.java
  mmadu-identity/src/main/java/com/mmadu/identity/entities/DomainIdentityConfiguration.java
  mmadu-identity/src/main/resources/application.yml
  mmadu-identity/src/main/resources/templates/login.html
Labels: bug, identity-service

#164 FEATURE-156: updated identity documentation
  docs/apis/snippets/domain-identity-configuration-documentation/create-new-domain-identity-configuration/1/curl-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/create-new-domain-identity-configuration/1/http-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/create-new-domain-identity-configuration/1/http-response.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/create-new-domain-identity-configuration/1/httpie-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/create-new-domain-identity-configuration/1/request-body.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/create-new-domain-identity-configuration/1/request-fields.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/delete-domain-identity-configuration-by-id/1/curl-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/delete-domain-identity-configuration-by-id/1/http-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/delete-domain-identity-configuration-by-id/1/httpie-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-all-domain-identity-configurations/1/curl-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-all-domain-identity-configurations/1/http-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-all-domain-identity-configurations/1/http-response.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-all-domain-identity-configurations/1/httpie-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-all-domain-identity-configurations/1/response-body.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-domain-id/1/curl-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-domain-id/1/http-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-domain-id/1/http-response.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-domain-id/1/httpie-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-domain-id/1/response-body.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-domain-id/1/response-fields.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-id/1/curl-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-id/1/http-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-id/1/http-response.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-id/1/httpie-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-id/1/response-body.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/get-domain-identity-configuration-by-id/1/response-fields.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/update-domain-identity-configuration-by-id/1/curl-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/update-domain-identity-configuration-by-id/1/http-request.adoc
  docs/apis/snippets/domain-identity-configuration-documentation/update-domain-identity-configuration-by-id/1/httpie-request.adoc
  docs/reference/identity.adoc
  mmadu-identity/src/test/java/com/mmadu/identity/documentation/DomainIdentityConfigurationDocumentation.java
Labels: documentation, identity-service
